pytest-xdist==1.32.0
pytest==5.4.3
tzlocal==2.1
Shapely==1.7.0
geomet==0.2.1.post1
numpy==1.18.5
sklearn==0.0
PyYAML==5.3.1
dateparser==0.7.5
requests==2.23.0
pyshp==2.1.0
defusedxml==0.6.0
kml2geojson==4.0.2
